# Git
.git
.gitignore

# Node
node_modules

# Docker
.dockerignore
Dockerfile

# Local Env
.env

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*